.container{
    text-align: center;
    margin-top: 30px;
}
table{
    margin:auto;
}
input{
    font-size:29px;
    border-radius: 15px;
    border:2px solid green;

}
button{
    font-size:23px;
    background-color:rgb(24, 13, 31);
    width: 85px;
    height: 75px;
    border-radius: 15px;
    color:white;
}
button:hover{
    background-color:rgb(3, 138, 115);
}
.calculator{
    display: inline-block;
    background-color: rgb(95, 43, 124);
    padding: 23px;
    border-radius: 15px;
}